<div >

  <div class="container">
    <div class="row ">
      <div class="col-md-10 ">
        <h1 class="text-center">
          View Orders
        </h1>
      </div>
    </div>
  </div>
  <hr><hr>
  <div class="row">
    <div class="col-md-10">
      <table class="table table-hover">
        <thead class="table-bordered">
        <tr>
          <td>OID</td>
          <td>Date</td>
          <td>Total</td>
          <td>Customer</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of ordersWithCust">
          <td>{{order.oid}}</td>
          <td>{{order.date}}</td>
          <td>{{order.total}}</td>
          <td>{{order.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
