<div *ngIf="checkLoggde()">
  <h3>
    Dashboard
  </h3>
  <hr>



  <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">

    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Tharindu POS
      </a >
      <img src="../../../assets/img/superman%20red%20eyes.jpg" class="proImg" alt="Failed to load profile">
      <h1 class="profile-text">Tharindu Eranga </h1>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <!--<button class="btn-dark" >Customer</button>-->
        <li class="nav-item ">
          <a class="nav-link" routerLink="/dashboard">
            <i class="material-icons"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item " >
          <a class="nav-link"  routerLink="/customers">
            <i class="material-icons"></i>
            <p>Customer</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/items">
            <i class="material-icons"></i>
            <p>Item</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/orders">
            <i class="material-icons"></i>
            <p>Add Order</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/viewOrders">
            <i class="material-icons"></i>
            <p>View Orders</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" id="empClick">
            <i class="material-icons"></i>
            <p>Employees</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" id="otherClick">
            <i class="material-icons"></i>
            <p >Other</p>
          </a>
        </li>
      </ul>
    </div>
  </div>


</div>
